body{
    background-color: black;
}

i,.clickable{
    cursor: pointer;
}

.profile-picture {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image fills the container without distortion */

}
.font-weight-bold {
    font-size: 3em; 
  }
  
  .btn-lg {
    font-size: 1.5em; 
    padding: 0.5rem 1rem; 
    margin-right: 1.2rem;
  }
  
  
  
  .ml-2 {
    margin-left: 1.2rem; 
  }
  
  
  @media (max-width: 768px) {
    .font-weight-bold {
        font-size: 1.5em; 
    }
  
    .btn-lg {
        font-size: 1.5em; 
        padding: 0.4rem 0.8rem;
    }
  
    .ml-2 {
        margin-left: 0.5rem; 
    }
  }
  
  .unfollow:hover{
    background-color: rgb(33 37 41) !important;
    cursor: pointer;
  }


  